*, *:after, *:before { vertical-align: top; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; -moz-osx-font-smoothing: subpixel-antialiased; -webkit-font-smoothing: subpixel-antialiased; -moz-font-smoothing: subpixel-antialiased; -ms-font-smoothing: subpixel-antialiased; -o-font-smoothing: subpixel-antialiased; }

body { position: relative; display: inline-block; width: 100%; margin: 0; padding: 0; color: #5a5a5a; font-size: medium; text-align: center; font-family: 'Noto Sans TC', sans-serif; }
body::-moz-selection { color: white; background-color: #78baff; }
body::selection { color: white; background-color: #78baff; }

::placeholder { color: #c2c2c2; }

.btn { width: 100%; margin: 0 auto; z-index: 1; outline-style: none; }
.btn:hover { transform: translateY(1px); }
.btn.start { position: absolute; bottom: 5%; display: flex; justify-content: center; align-items: center; }
@media screen and (max-width: 320px) and (min-width: 0) { .btn.start { bottom: 1%; } }

.container { position: relative; padding: 2rem 0; margin: 0 auto; width: 100%; height: 100%; max-width: 320px; }

.s-box-1 { background-image: url(../img/index_bg@2x.png); background-repeat: no-repeat; background-size: cover; height: 100vh; }

.s-box-2 { background-image: url(../img/qa_bg.png); background-repeat: no-repeat; background-position: center; background-size: cover; height: 100vh; }

.s1 .title { margin: 0 auto; width: 285px; font-family: 'Noto Serif TC', serif; }
.s1 .title > .main-t { margin-bottom: 0; font-size: 26px; letter-spacing: 3px; }
.s1 .title > .sub-t { position: relative; display: inline-block; width: 100%; font-family: 'Noto Serif TC', sans-serif; font-size: 18px; }
.s1 .title > .sub-t > h3 { margin: 0; font-weight: normal; letter-spacing: 3px; }
.s1 .title > .sub-t > span { position: absolute; top: calc(50% - .5px); width: 18%; border-top: 1px solid #000; }
.s1 .title > .sub-t > span.left { left: 0; }
.s1 .title > .sub-t > span.left:after { content: ''; position: absolute; top: calc(50% - 4px); right: 0; width: 8px; height: 8px; border-radius: 50%; background-color: #5a5a5a; }
.s1 .title > .sub-t > span.right { right: 0; }
.s1 .title > .sub-t > span.right:before { content: ''; position: absolute; top: calc(50% - 4px); left: 0; width: 8px; height: 8px; border-radius: 50%; background-color: #5a5a5a; }
.s1 .i-img { position: relative; display: flex; margin-top: 1rem; height: 350px; justify-content: space-around; transition: opacity 2s; transition-delay: 1s; opacity: 0; }
.s1 .i-img.show { opacity: 1; }
.s1 .i-img .l-img { position: absolute; left: 4rem; text-align: right; animation-name: left; animation-duration: 10s; animation-iteration-count: infinite; animation-timing-function: linear; animation-direction: alternate; }
@keyframes left { 0% { transform: translateY(0px); }
  10% { transform: translateY(5px); }
  20% { transform: translateY(10px); }
  30% { transform: translateY(15px); }
  40% { transform: translateY(20px); }
  50% { transform: translateY(25px); } }
.s1 .i-img .r-img { position: absolute; top: 2rem; right: 1.5rem; text-align: left; animation-name: right; animation-duration: 10s; animation-iteration-count: infinite; animation-timing-function: linear; animation-direction: alternate; }
@keyframes right { 0% { transform: translateY(0px); }
  10% { transform: translateY(-5px); }
  20% { transform: translateY(-10px); }
  30% { transform: translateY(-15px); }
  40% { transform: translateY(-20px); }
  50% { transform: translateY(-25px); } }
@media screen and (max-width: 320px) and (min-width: 0) { .s1 .i-img .r-img { top: .5rem; } }
.s1 .i-img img { width: auto; height: auto; max-width: 100%; max-height: 100%; }

.s2 .input-box { display: flex; align-items: center; margin-bottom: 2rem; width: 100%; }
.s2 .input-box:nth-child(5) { margin-bottom: 1rem; }
.s2 .input-box.radio { display: flex; justify-content: center; align-items: center; margin-top: .5rem; }
.s2 .input-box.radio input { width: 10%; }
.s2 .input-box.radio span { margin-right: 4.5rem; }
.s2 .input-box.radio span a { color: #008bff; }
.s2 .input-box label { color: #4d6790; }
.s2 .input-box input, .s2 .input-box select { padding: .5rem; width: 80%; border: 1px solid #6a84ac; border-radius: 5px; color: #c2c2c2; opacity: 1; }
.s2 .input-box select, .s2 .input-box input[type="date"] { -webkit-appearance: none; -moz-appearance: none; appearance: none; background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>"); background-repeat: no-repeat; background-position-x: 100%; background-position-y: 3px; }
.s2 .input-box input[type="date"] { padding: 1rem .5rem; max-height: 33px; }
.s2 .input-box input[type="date"]::-webkit-inner-spin-button, .s2 .input-box input[type="date"]::-webkit-calendar-picker-indicator { display: none; -webkit-appearance: none; }
.s2 .notice { display: flex; justify-content: center; align-items: center; margin-right: 4.5rem; }
.s2 .notice > span, .s2 .notice p { margin: 0; font-size: 14px; color: red; }

.s3 .container .logo { margin: 18px 0 10px 0; }
.s3 .title { margin: 0 auto; font-family: 'Noto Serif TC', serif; }
.s3 .title > .main-t { position: relative; display: inline-block; width: 100%; font-family: 'Noto Sans TC', sans-serif; font-size: 16px; }
.s3 .title > .main-t > h2 { font-size: 26px !important; margin: 0; }
.s3 .title > .main-t span { position: absolute; top: calc(50% - .5px); width: 30%; border-top: 1px solid #000; }
.s3 .title > .main-t span.left { left: 0; }
.s3 .title > .main-t span.right { right: 0; }
.s3 .policy-content { background-color: rgba(255, 255, 255, 0.5); }
.s3 .policy-content > p { font-size: 16px; line-height: 1.5; letter-spacing: 1px; font-weight: thin; text-align: left; color: #4e4e51; padding: 10px; }

.s4 .title { margin: 0 auto; font-family: 'Noto Serif TC', serif; }
.s4 .title.notFont { font-family: 'Noto Sans TC', sans-serif; }
.s4 .title .q-t { position: relative; display: inline-block; width: 100%; font-family: 'Noto Serif TC', serif; font-size: 16px; }
.s4 .title .q-t > h2 { margin-top: 0; margin-left: 2rem; font-size: 30px; font-weight: 900; line-height: 1.83; }
.s4 .title .q-t > h2 span.dot { position: relative; }
.s4 .title .q-t > h2 span.dot:after { content: ''; position: absolute; bottom: -8px; left: calc(50% - 2.5px); width: 5px; height: 5px; border-radius: 50%; background-color: #ac7737; }
.s4 .title .q-t > h2 span.sub-text { font-weight: 400; }
.s4 .question .subject { display: flex; justify-content: flex-start; align-items: center; margin-left: 10px; }
.s4 .question .subject .s-no { display: flex; justify-content: center; align-items: center; width: 50px; height: 50px; background-color: #cea574; border-radius: 50%; font-size: 20px; color: white; }
.s4 .question .subject > .title { width: calc(100% - 50px); font-size: 20px; font-weight: bold; color: #aa8354; text-align: left; padding-left: 10px; }
.s4 .question .answer { margin-top: 1.5rem; }
.s4 .question .answer ul { padding: 0; list-style: none; }
.s4 .question .answer ul li { display: flex; align-items: flex-start; margin-bottom: .5rem; }
.s4 .question .answer ul li img { width: 40px; height: 40px; }
.s4 .question .answer ul li p { margin-top: .2rem; margin-left: 1rem; text-align: left; font-size: 20px; }

.s5 { background-image: url(../img/envoy_bg@2x.png); background-repeat: no-repeat; background-size: cover; height: 100vh; }
.s5 .title { margin: 0 auto; width: 285px; font-family: 'Noto Serif TC', serif; }
.s5 .title > .main-t { margin-bottom: 0; font-size: 26px; letter-spacing: 3px; }
.s5 .title > .sub-t { position: relative; display: inline-block; width: 100%; font-family: 'Noto Serif TC', sans-serif; font-size: 18px; }
.s5 .title > .sub-t > h3 { margin: 0; font-weight: normal; letter-spacing: 3px; }
.s5 .title > .sub-t span { position: absolute; top: calc(50% - .5px); width: 18%; border-top: 1px solid #000; }
.s5 .title > .sub-t span.left { left: 0; }
.s5 .title > .sub-t span.left:after { content: ''; position: absolute; top: calc(50% - 4px); right: 0; width: 8px; height: 8px; border-radius: 50%; background-color: #5a5a5a; }
.s5 .title > .sub-t span.right { right: 0; }
.s5 .title > .sub-t span.right:before { content: ''; position: absolute; top: calc(50% - 4px); left: 0; width: 8px; height: 8px; border-radius: 50%; background-color: #5a5a5a; }
.s5 .content > h2 { color: #4574ba; letter-spacing: 3px; }
.s5 .content > h2 > span { color: #ff590f; }
.s5 .content > h2.mt-0 { margin-top: 0; }
.s5 .content > h2.mb-0 { margin-bottom: 0; }
.s5 .content > figure { margin: 0 auto; width: 100%; height: 250px; }
.s5 .content > figure img { width: auto; height: auto; max-width: 100%; max-height: 100%; }
.s5 .content > figure .notice { font-size: 14px; }
.s5 .content > figure .sub-notice { width: 100%; font-size: 10px; }
.s5 .content > figure .sub-notice > sup { display: inline-block; }

.s6 { background-image: url(../img/envoy_bg@2x.png); background-repeat: no-repeat; background-size: cover; height: 100vh; }
.s6 .title { margin: 0 auto; width: 285px; font-family: 'Noto Serif TC', serif; }
.s6 .title > .main-t { margin-bottom: 0; font-size: 26px; letter-spacing: 3px; }
.s6 .title > .sub-t { position: relative; display: inline-block; width: 100%; font-family: 'Noto Serif TC', sans-serif; font-size: 18px; }
.s6 .title > .sub-t > h3 { margin: 0; font-weight: normal; letter-spacing: 3px; }
.s6 .title > .sub-t span { position: absolute; top: calc(50% - .5px); width: 18%; border-top: 1px solid #000; }
.s6 .title > .sub-t span.left { left: 0; }
.s6 .title > .sub-t span.left:after { content: ''; position: absolute; top: calc(50% - 4px); right: 0; width: 8px; height: 8px; border-radius: 50%; background-color: #5a5a5a; }
.s6 .title > .sub-t span.right { right: 0; }
.s6 .title > .sub-t span.right:before { content: ''; position: absolute; top: calc(50% - 4px); left: 0; width: 8px; height: 8px; border-radius: 50%; background-color: #5a5a5a; }
.s6 .content > h2 { color: #4574ba; }
.s6 .content > h2 > span { display: block; color: #000; }
.s6 .content > h2.m-4 { margin: 4rem 0; }
.s6 .content > p { margin-top: 4rem; font-size: 20px; text-align: center; color: #4574ba; }

.s7 { background-image: url(../img/envoy_bg@2x.png); background-repeat: no-repeat; background-size: cover; height: 100vh; }
.s7 .title { margin: 0 auto; width: 285px; font-family: 'Noto Serif TC', serif; }
.s7 .title > .main-t { margin-bottom: 0; font-size: 26px; letter-spacing: 3px; }
.s7 .title > .sub-t { position: relative; display: inline-block; width: 100%; font-family: 'Noto Serif TC', sans-serif; font-size: 18px; }
.s7 .title > .sub-t > h3 { margin: 0; font-weight: normal; letter-spacing: 3px; }
.s7 .title > .sub-t span { position: absolute; top: calc(50% - .5px); width: 18%; border-top: 1px solid #000; }
.s7 .title > .sub-t span.left { left: 0; }
.s7 .title > .sub-t span.left:after { content: ''; position: absolute; top: calc(50% - 4px); right: 0; width: 8px; height: 8px; border-radius: 50%; background-color: #5a5a5a; }
.s7 .title > .sub-t span.right { right: 0; }
.s7 .title > .sub-t span.right:before { content: ''; position: absolute; top: calc(50% - 4px); left: 0; width: 8px; height: 8px; border-radius: 50%; background-color: #5a5a5a; }
.s7 .content > h2 { color: #4574ba; }
.s7 .content > h2 > span { display: block; }
.s7 .content > h2.m-4 { margin: 4rem 0; }
.s7 .content > h2 .crown { margin-right: 7rem; }
.s7 .content > p { margin: 4rem 0; font-size: 16px; text-align: center; color: #000; }
.s7 .content .contact-us { color: #4574ba; text-align: center; }
.s7 .content .contact-us p { font-weight: 600; }
.s7 .content .contact-us p:first-child { margin-bottom: 0; }
.s7 .content .contact-us p:last-child { margin-top: 0; }
